
.font-shadow{
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
}

.clearfix:before,
.clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}


.head{
    height: 846px;
    background: url(../img/BG_haeder.jpg) no-repeat;
}
nav{
    margin: 0 auto;
    width: 960px;
    height: 278px;
    padding: 65px 0 169px;
}

.logo{
    font-size: 48px;
    text-decoration: none;
    color: #fff;
    letter-spacing: -0.01em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .head .logo span{
        background: 
        
        
        
        
        
        -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(51,38,58,1)));
        background: 
        
        
        
        -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(51,38,58,1) 100%);
        -webkit-background-clip: text;
        text-shadow: none;
        -webkit-text-fill-color: transparent;
    }
}
.logo span{
    color: #5a3f66;
}
.navigation{
    float:right;
}
.navigation-item{
    display: inline-block;
    margin: 9px 0px 0px 50px;
}
.navigation-link{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    position: relative;
}
.navigation-link:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 104%;
    height: 2px;
    background: #edbfff;
    visibility: hidden;
}
.navigation-link:hover:before{
    visibility: visible;
}



@keyframes arrow-left{
    50%{left: -190px;}
}
@keyframes arrow-right{
    50%{right: -190px;}
}

.presentation{
    height: 400px;
    position: relative;
    background: rgba(0,0,0,0.2)
}
[class*=arrow]{
    position: absolute;
    top: 50%;
    height: 34px;
    width: 22px;
    background: url(../img/shape.png) no-repeat;
}
.arrow-left{
    left: -180px;
    float: left;
    animation: arrow-left 2s infinite linear;
    animation-play-state: paused;
}
.arrow-right{
    float: right;
    transform: rotateY(180deg);
    right: -180px;
    animation: arrow-right 2s infinite linear;
    animation-play-state: paused;
}
[class*=arrow]:hover{
    cursor: pointer;
    animation-play-state: running;
    
}
.media{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    border-top: 1px solid transparent;
}
.media-text{
    display: block;
    float: left;
    color:#fff;
    width: 55%;
}
.media-header{
    margin: 76px 0 0;
    font-size: 60px;
    letter-spacing: -0.01em;
}
.paragraph-header{
    font-size: 32px;
    color: #edbfff;
}
.media-paragraph{
    padding: 8px 0;
    line-height: 24px;
    font-size: 18px;
    word-spacing: -0.001em;
    letter-spacing: -0.001em;
}
.media-active{
    top: 0px;
    right: 0px;
    float: right;
    width: 45%;
    height: 400px;
}

@keyframes media{
    0%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        z-index: 1;
    }
    30%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
        z-index: 1;
    }
    35%{
        top: 62px;
        right: -40px;
        pause:3s;
        z-index: 0;
    }
    40%{
        top: 58px;
        right: 80px;
        width: 103px;
        height: 217px;
        z-index: 0;
    }
    50%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    80%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    100%{
        z-index: 2;
    }
}
@keyframes media2{
    0%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    30%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 1;
    }
    40%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
    }
    50%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        z-index: 1;
    }
    
    80%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
        z-index: 1;
    }
    85%{
        top: 62px;
        right: -40px;
        pase:3s;
        z-index: 0;
    }
    90%{
        top: 58px;
        right: 80px;
        width: 103px;
        height: 217px;
        z-index: 0;
    }
    100%{
        z-index: 1;
    }
}
.active-img{
    position: absolute;
    top: -18px;
    right: 71px;
    width: 197px;
    height: 432px;
    z-index: 0;
    animation: media 10s infinite linear;
    //animation-play-state: paused;
}
.active-img-copy{
    position: absolute;
    top: 62px;
    right: 215px;
    width: 127px;
    height: 262px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    z-index: 0;
    animation: media2 10s infinite linear;
    //animation-play-state: paused;
}
@keyframes play{
    0%{
        top: 132px;
        right: 130px;
        height: 76px;
        width: 76px;
    }
    50%{
        height: 106px;
        width: 106px;
        top: 117px;
        right: 117px;
        opacity: 0.5;
    }
}
.play{
    position: absolute;
    top: 132px;
    right: 130px;
    height: 76px;
    width: 76px;
    z-index: 7;
    animation: play 3s infinite linear;
    animation-play-state: paused;
}
.play:hover{
    animation-play-state: running;
}
/*CHANGE*/
.change{
    margin: 50px auto;
    padding: 40px 0 0;
    width: 630px;
}
.change *{
    float: right;
}
.change-radio{
    display: none;
}
.label-radio{
    position: relative;
    height: 16px;
    width: 16px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 3px;
}
.label-radio:before{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}
.change-radio:checked +.label-radio:before{
    background: rgb(250, 250, 250);
}

/*ABOUT*/
.about-main{
    height: 342px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
    background: rgb(116, 80, 131);
    background: -moz-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -webkit-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -o-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -ms-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: linear-gradient(180deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
}
.about-wrapper{
    margin: 0 auto;
    width: 960px;
}
.about{
    //display: inline-block;
    //width: 288px;
    float: left;
    width: 33.33%;
    padding: 77px 0 0 62px;
    color: #fff;
    background: no-repeat 10px 86px;  
}
.about-description-header{
    font-size: 30px;
}
.about-description{
    margin: 5px 0;
    font-size: 16px;
    line-height: 24px;
}
.read-more{
    float: right;
    margin: 16px 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.first{
    width: 30%;
    background-image: url(../img/about_first.png);
}
.second{
    width: 30%;
    margin: 0 0px 0 5%;
    background-image: url(../img/about_second.png);  
}
.third{
    width: 30%;
    margin: 0 0px 0 5%;
    background-image: url(../img/about_third.png);
}

/*MESSAGE*/
.wrapper{
    margin: 0 auto;
    width: 960px;
}
.blog{
    height: 487px;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}
.content-wrapper{
    position: relative;
    padding: 100px 0 0;
}
.messages, .updates{
    width: 50%;
    float: left
}
.messages{
    position: relative;
}
.blog-wrapper{
    margin: 0 28px 0px 20px;
    padding: 30px 30px 25px 40px;
    background: #fff;
    border: 1px solid #efefef;
    position: relative;
    z-index: 1;
}
.blog-header{
    font-size: 30px;
    color: #454545;
}
.blog-header span{
    color: #edbfff;
}
.blog-paragraph{
    margin: 10px 0;
    line-height: 24px;
    font-size: 16px;
    color: #454545;
}
.blog-wrapper:before{
    content: "";
    height: 49px;
    width: 49px;
    left: -21px;
    top: 17px;
    position: absolute;
    background: url(../img/avatar.png) no-repeat;
}
.blog-wrapper:after{
    content: "";
    position: absolute;
    right: -10px;
    bottom: -45px;
    z-index: 2;
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 40px;
    -webkit-box-shadow: -2px 8px 4px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 8px 4px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 8px 4px -8px rgba(0,0,0,0.75);
    transform: perspective(60px) rotate3d(0,1,0,110deg) ;
}
/*SHADOW*/
.messages:after{
    content: "";
    z-index: 0;
    width: 80%;
    position: absolute;
    height: 10px;
    top: 260px;
    left: 40px;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

 
/**/


/*CHANGE MESSAGE*/
.blog-change{
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.label-blog{
    display: inline-table;
    position: relative;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
}
.label-blog:hover{
    cursor: pointer;
}
.label-blog:before{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
}
@-moz-document url-prefix()
{
    .label-blog:before{
        content: "";
        top: 3px;
        left: 3px;
    }
}
.content-radio:checked +.label-blog:before{
    border: 1px solid black;
    background: rgb(136, 136, 136);
    background: -moz-linear-gradient(90deg, rgb(136, 136, 136) 30%, rgb(70, 70, 70) 100%);
    background: -webkit-linear-gradient(90deg, rgb(136, 136, 136) 30%, rgb(70, 70, 70) 100%);
    background: -o-linear-gradient(90deg, rgb(136, 136, 136) 30%, rgb(70, 70, 70) 100%);
    background: -ms-linear-gradient(90deg, rgb(136, 136, 136) 30%, rgb(70, 70, 70) 100%);
    background: linear-gradient(180deg, rgb(136, 136, 136) 30%, rgb(70, 70, 70) 100%);
}

/*UPDATES*/
.updates{
    padding: 30px 0 0 28px
}
.updates-item{
    line-height: 25px;
    margin: 15px 0 0 70px;
    position: relative;
}
.updates-item a{
    font-weight: 900;
    color: #454545;
    text-decoration: none;
}
.list-style{
    position: absolute;
    height: 49px;
    width: 49px;
    left: -68px;
    border-radius: 50%;
    background: url(../img/noavatar.jpg);
}
.two{
    background-position-y: -25px;
}
.three{
    background-position-x: -50px;
}
.updates-more{
    margin: 22px 22px;
    color: #454545;
}
/*COMPANY*/

.company{
    height: 120px;
    background: #f9f9f9;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    text-align: center;
}
.company-list{
    margin: 21px 0;
}
.company-list li{
    display: inline-block;
}
.com-logo{
    display: block;
    margin: 0 35px;
    
    height: 64px;
    width: 70px;
    background: url(../img/logos.png) no-repeat;
}
.bong{
}
.dc{
    margin: 0 24px;
    width: 74px;
    background-position: -69px 0;
}
.tree{
    margin: 0 35px;
    width: 66px;
    background-position: -143px 0;
}
.awsm{
    margin: 0 35px;
    width: 50px;
    background-position: -210px 0;
}
.rvca{
    margin: 0 24px;
    width: 105px;
    background-position: -260px 0;
}
.vonzipper{
    width: 82px;
    background-position: -366px 0;
}

/*INFO*/

.info-wrapper{
    height: 100%;
    background-color: #ececec;
    position: relative;
    z-index: 1;
}

.other-info{
    height: 397px;
    position: relative;
    background: #ececec;
    border-top: 1px solid #d8d8d8;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.other-info:after{
    content: "";
    z-index: 0;
    width: 940px;
    position: absolute;
    height: 10px;
    top: 376px;
    left: 50%;
    border-radius: 50%;
    margin: 0 -520px;
    -webkit-box-shadow: 50px 50px 15px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 50px 50px 15px 20px rgba(0,0,0,0.75);
    box-shadow: 50px 10px 10px 1px rgba(0,0,0,0.75);
}
.hidden{
    display: none;
}
.info-box{
    margin: 95px 0;
    width: 33.33%;
    float: left;
}
.info-big-head{
    font-size: 46px;
}
.info-big-head span{
    color: #b9b9b9;
}
.copyright{
    margin: 15px 0 11px;
    color: #b9b9b9;
    font-size: 16px;
    font-style: italic;
}
.info-paragraph{
    color: #787878;
    line-height: 24px;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    padding-right: 30px; 
}
.categories, .comment{
    margin: 10px 0;
}
.comment-box{
    padding: 2px 0 0 16px;
}
.categories-box{
    padding: 2px 0 0 36px;
    
}

footer{
    height: 114px;
    background: url(../img/footer.JPG) no-repeat;
}
footer .foot-nav, .designet{
    //display: inline-block;
}
.foot-nav{
    float: left;
    padding-left: 0px;
}
.foot-nav li{
    margin: 20px 40px 0 0;
}
.foot-nav li a{
    font-size: 20px;
}
.designet{
    margin: 39px 0;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 12px
}
/* 
    Created on : 16.11.2015, 14:45:45
    Author     : yaroslav
*/

