@font-face {
    font-family: 'league gothic';
    src: url('../fonts/League/leaguegothic-regular-webfont.eot');
    src: url('../fonts/League/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/League/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/League/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open sans light';
    src: url('../fonts/open-sans/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-shadow{
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
}

.clearfix:before,
.clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}


.head{
    height: 846px;
    background: url(../img/BG_haeder.jpg) no-repeat;
}
nav{
    margin: 0 auto;
    width: 960px;
    height: 278px;
    padding: 65px 0 169px;
    //background: red;
}
nav *{
    font-family: league gothic;
}
.logo{
    font-size: 48px;
    text-decoration: none;
    color: #fff;
    letter-spacing: -0.01em;
}
.logo span{
    color: #5a3f66;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .logo span{
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(51,38,58,1)));
        background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(51,38,58,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.navigation{
    float:right;
}
.navigation-item{
    display: inline-block;
    margin: 9px 0px 0px 50px;
}
.navigation-link{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    position: relative;
}
.navigation-link:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 104%;
    height: 2px;
    background: #edbfff;
    visibility: hidden;
}
.navigation-link:hover:before{
    visibility: visible;
}



@keyframes arrow-left{
    50%{left: 14%;}
}
@keyframes arrow-right{
    50%{right: 14%;}
}
.presentation{
    height: 400px;
    position: relative;
    background: rgba(0,0,0,0.2)
}
[class*=arrow]{
    position: absolute;
    top: 50%;
    height: 34px;
    width: 22px;
    background: url(../img/shape.png) no-repeat;
}
.arrow-left{
    left: 15%;
    animation: arrow-left 2s infinite linear;
    animation-play-state: paused;
}
.arrow-right{
    transform: rotateY(180deg);
    right: 15%;
    animation: arrow-right 2s infinite linear;
    animation-play-state: paused;
}
[class*=arrow]:hover{
    cursor: pointer;
    animation-play-state: running;
    
}
.media{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 100%;
    border-top: 1px solid transparent;
}
.media-text{
    display: block;
    float: left;
    color:#fff;
    width: 530px;
}
.media-header{
    margin: 76px 0 0;
    font-size: 60px;
    letter-spacing: -0.01em;
    font-family: league gothic;
}
.paragraph-header{
    font-size: 32px;
    color: #edbfff;
    font-family: league gothic;
}
.media-paragraph{
    padding: 8px 0;
    line-height: 24px;
    font-size: 18px;
    word-spacing: -0.001em;
    letter-spacing: -0.001em;
    font-family: open sans light;
}
.media-active{
    top: 0px;
    right: 0px;
    float: right;
    width: 400px;
    height: 400px;
}

@keyframes media{
    0%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        z-index: 1;
    }
    30%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
        z-index: 1;
    }
    35%{
        top: 62px;
        right: -40px;
        pause:3s;
        z-index: 0;
    }
    40%{
        top: 58px;
        right: 80px;
        width: 103px;
        height: 217px;
        z-index: 0;
    }
    50%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    80%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    100%{
        z-index: 2;
    }
}
@keyframes media2{
    0%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    30%{
        top: 62px;
        right: 215px;
        width: 127px;
        height: 262px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 1;
    }
    40%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
    }
    50%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        z-index: 1;
    }
    
    80%{
        top: -18px;
        right: 71px;
        width: 197px;
        height: 432px;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
        z-index: 1;
    }
    85%{
        top: 62px;
        right: -40px;
        pase:3s;
        z-index: 0;
    }
    90%{
        top: 58px;
        right: 80px;
        width: 103px;
        height: 217px;
        z-index: 0;
    }
    100%{
        z-index: 1;
    }
}
.active-img{
    position: absolute;
    top: -18px;
    right: 71px;
    width: 197px;
    height: 432px;
    z-index: 0;
    animation: media 10s infinite linear;
    //animation-play-state: paused;
}
.active-img-copy{
    position: absolute;
    top: 62px;
    right: 215px;
    width: 127px;
    height: 262px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    z-index: 0;
    animation: media2 10s infinite linear;
    //animation-play-state: paused;
}
@keyframes play{
    0%{
        top: 132px;
        right: 130px;
        height: 76px;
        width: 76px;
    }
    50%{
        height: 106px;
        width: 106px;
        top: 117px;
        right: 117px;
        opacity: 0.5;
    }
}
.play{
    position: absolute;
    top: 132px;
    right: 130px;
    height: 76px;
    width: 76px;
    z-index: 7;
    animation: play 3s infinite linear;
    animation-play-state: paused;
}
.play:hover{
    animation-play-state: running;
}

.change{
    margin: 50px auto;
    padding: 40px 0 0;
    width: 630px;
}
.change *{
    float: right;
}
.change-radio{
    display: none;
}
.label-radio{
    position: relative;
    height: 16px;
    width: 16px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 3px;
}
.label-radio:before{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}
.change-radio:checked +.label-radio:before{
    background: rgb(250, 250, 250);
}

/*ABOUT*/
.about-main{
    height: 342px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
    background: rgb(116, 80, 131);
    background: -moz-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -webkit-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -o-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: -ms-linear-gradient(90deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
    background: linear-gradient(180deg, rgb(116, 80, 131) 30%, rgb(50, 37, 57) 100%);
}
.about-wrapper{
    margin: 0 auto;
    width: 960px;
}
.about{
    display: inline-block;
    width: 288px;
    padding: 77px 0 0 62px;
    color: #fff;
    background: no-repeat 10px 86px;  
}
.about-description-header{
    font-size: 30px;
    font-family: league gothic;
}
.about-description{
    margin: 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: open sans light;
}
.read-more{
    float: right;
    margin: 16px 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: league gothic;
}
.first{
    background-image: url(../img/about_first.png);
}
.second{
    margin: 0 40px 0 48px;
    background-image: url(../img/about_second.png);  
}
.third{
    background-image: url(../img/about_third.png);
}
/**/

.content{
    height: 490px;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper{
    margin: 0 auto;
    width: 960px;
}
.masseges, .updates{
    width: 50%;
    float: left
}



.company{
    height: 120px;
    background: #f9f9f9;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}

.other-info{
    height: 400px;
    background: #ececec;
    border-top: 1px solid #d8d8d8;
}

footer{
    height: 120px;
    background: url(../img/footer.JPG) no-repeat;
}

/* 
    Created on : 16.11.2015, 14:45:45
    Author     : yaroslav
*/

