@font-face {
    font-family: 'Helvetica Neuecyr Light';
    src: url('../fonts/helveticalight-webfont.eot');
    src: url('../fonts/helveticalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticalight-webfont.woff2') format('woff2'),
         url('../fonts/helveticalight-webfont.woff') format('woff'),
         url('../fonts/helveticalight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
body{
    min-height: 1027px;
    font-family: 'Helvetica Neuecyr Light', Arial, Tahoma, sans-serif;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
header{
    padding: 0 20px;
    background: #074c89;
}

/* MENU */

header ul, header .header_separator{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

/* right side */

.login a{
    line-height: 34px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
}
.login img{
    margin-right: 10px;
    vertical-align: middle;
}
.underline{
    text-decoration: underline; 
}
.login li a:hover{
    background: rgba(81,176,220,1);
    background: -moz-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,121,196,1)));
    background: -webkit-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    background: -o-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    background: -ms-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    background: linear-gradient(to bottom, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e79c4', GradientType=0 );
    border: 1px solid #449ad3;
}
.header_separator{
    width: 1px;
    height: 32px;
    margin: 2px 10px;
    margin-left: 15px;
    background: #60b5ed;
}

/* left side */

.menu a{
    line-height: 36px;
    color: #60b5ed;
}
.menu li a:hover{
    color: #fff;
    background: #4eabda;
}

/* Menu END */

.registration_main_wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    height: 610px;
    width: 560px;
    margin: -0px -280px;
}
.background_top{
    position: absolute;
    left: 50%;
    top:21%;
    margin: -0px -280px;
    padding: 30px 0;
    width: 560px;
}
.background_top, .background_bottom{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.background_bottom{
    padding: 20px 152px;
    
}
.background_top{
    margin-bottom: 5px;
}
.background_top{
    font-size: 24px;
    color: #fff;
}

/* FACEBOOK BUTTON */

.facebook{
    width: 275px;
    line-height: 35px;
    background: url(../img/facebook.jpg);
    color: #fff;
    font-weight: bold;
    border-top: 1px solid #7889b7;
    border-radius: 5px;
}
.facebook_left{
    float: left;
    padding: 0 15px;
    font-size: 21px;
    border-right: 1px solid #213c71;
}
.facebook_right{
    float: left;
    width: 210px;
    margin-right: 1px;
    text-align: center;
    border-left: 1px solid #4e67a9;
}
.thin{
    font-weight: 100;
}
.facebook:hover{
    cursor: pointer;
}
/* SEPARATOR */
.separator{
    width: 277px;
    margin: 30px auto;
}
.horizontalLine{
    margin: 5px;
    width: 40%;
    height: 1px;
    background: #666666;
    border-bottom: 1px solid #000;
}
.separator .hr{
    color: #999;
}
.hr_left{
    float: left;
}
.hr_right{
    float: right;
}
/* ACTOIN */

.text_field{
    margin-bottom: 20px;
    width: 100%;
    height: 32px;
    padding-left: 20px;
    color: #fff;
    background: #101010;
    border-bottom: 1px solid #484847;
}
.text_field:focus{
    outline: none;
    color: #fff;
    border-bottom: 1px solid #699bcd;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(85,142,183,1);
    -moz-box-shadow: 0px 0px 6px 1px rgba(85,142,183,1);
    box-shadow: 0px 0px 6px 1px rgba(85,142,183,1);
    background: url(../img/text_field_active.jpg);
}
.registration_form label{
    float: left;
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px;
}
.create_account{
    width: 160px;
    height: 34px;
    color: white;
    background: url(../img/create_button.png);
    border-radius: 4px;
}

.privacy_description{
    padding: 20px 0;
    color: #fff;
    font-size: 11px;
}
.create_account:focus, .facebook:focus{
    outline: none;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,34,255,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,34,255,1);
    box-shadow: 0px 0px 8px 1px rgba(0,34,255,1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
/* 
    Created on : 05.11.2015, 14:17:38
    Author     : yaroslav
*/

