/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 янв. 2020 г., 01:09:02
    Author     : solovyov
*/

.presentation h2{
    font-size: 32px;
}

.review{
    justify-content: flex-start;
    padding-left: 20px;
}
.description h1{
    font-size: 28px;
}
.big{
    font-size: 33px
}
.big:after{
    content: "";
    display: block;
}

form{
    width: 300px;
    margin: 30px auto;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie {
  top: 140px;
  left: 55px
}

.efficiency_descrition_wrapper>div{
    width: 310px;
}