/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 янв. 2020 г., 20:20:13
    Author     : solovyov
*/

header{
    height: 1400px;
    background: url('../img/header_bg.png') top/3500px no-repeat;
}
.header_gradient{
    background: linear-gradient(180deg, 
        rgba(243,249,255,0.5340511204481793) 0%, 
        rgba(243,249,255,0.819765406162465) 40%, 
        rgba(243,249,255,0.8225665266106442) 45%, 
        rgba(243,249,255,1) 50%);
}

.presentation{
    width: 76%;
    height: 42%;
}

.presentation h2{
    margin-right: 0px;
    font-size: 42px;
    z-index: 3
}
.header_gradient:before{
    width: 65%; 
    top: 304px;
    left: 15%;
}
.insert_img{
    background-position:-410px -140px ;
}


.description{
    width: 100%;
    height: 60%;
    text-align: center;
    margin: 60px 0;
    position: relative;
    
}
.review{
    justify-content: center;
}
.about,
.order{
    width: 40%;
    margin-left: 5%;
    min-width: 300px;
}

.warning{
    padding-top: 40px
}


.insert_img::after{
    display: none;
}

.warning_description{
    line-height: 30px;
    margin: 20px 0 60px;
}

.effects_wrapper,
.more_info_wrapper,
.efficiency_descrition_wrapper{
    flex-direction: column;
    align-items: center;
}

 .warning_description,
 .efficiency p{
     padding-left: 10%;
     padding-right: 10%;
 }
 
 .mikocin_best{
    width: 98%;
    margin: 0 .95% ;
 }
 
 .mikocin_glass{
     display: none;
 }
 *.use_wrapper{
    margin: 0;
    width: 100%;
    
 }
 .use_description{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center
 }