@font-face{
    font-family: Open Sans;
    src: url(../fonts/open-sans.ttf);
}
*{
    margin: 0;
    padding: 0;
}

/* MAIN THEME */

body{
    font-family: Open Sans;
    background: #f9f9f9;
    
}
.main_wrapper{
    margin: 0 auto;
    width: 77.6%;
    max-width: 1060px;
    min-width: 796px;
    min-height: 950px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
}

/* HEADER+FOOTER*/

.top_menu, .bottom_menu{
    margin: 0 auto;
    width: 93%;
    height: 40px;
    max-width: 996px;
    min-width: 465px;
}
.top_menu ul, .bottom_menu ul{
    display: table-row;
}
.top_menu ul li, .bottom_menu ul li{
    display: table-cell;
    width: auto;
    vertical-align: middle;
    text-align: center;
    text-align: left;
    padding-right: 48px;
}
.top_menu ul li a, .bottom_menu ul li a{
    height: 38px;
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 15px;
    display: table-cell;
    text-decoration: none;
    vertical-align: middle;
    border: transparent solid 1px;
}

/* HEADER */

.logo{
    padding: 50px 0px 40px 0px;
}
.logo, .content_wrapper{
    margin: 0 auto;
    width: 93%;
    min-width: 465px;
    color: #343434;
}
.logo h1 a{
    color: #343434;
    texte-decoration: none;
}
.top_menu{
    background: url(../img/link.jpg) repeat-x;
}
.top_menu ul li a{
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(12, 12, 12, 1);
    color: #ffffff;
}
.top_menu ul li a:hover{ 
    background: url(../img/on_active.jpg) repeat-x;
    border-left: #838383 solid 1px;
    border-right: #838383 solid 1px;
}

.content_wrapper{
    height: 100%;
    min-height: 600px;
    margin: 40px auto; 
}
.aside_menu_box, .item_wrapper_box{
    float:left;
}

/* SIDEBAR */

.aside_menu_box{
    width: 27%;
    min-width: 100px;  
}
.aside_menu{
    height: auto;
    margin-right: 26px; 
    list-style: none;
    border: 1px solid #c8c8c8;
}
.aside_menu li{
    border-bottom: 1px solid #c8c8c8;
}
.aside_menu a{
    color: #656363;
    padding: 9px;
    border-left: 24px solid #ffffff;
    text-decoration: none;
    display: block;
}
ul .car_parts{
    border-bottom: none;
}
.aside_menu a:hover{
    background-color: #f9f9f9;
    border-left: 32px solid #f9f9f9;
}

/*content box */

.item_wrapper_box{
    width: 73%;
}
.photo_item_wrapper{
    margin-left: 24px;
    width: auto;
}
.photo_item_wrapper img{
    width: 100%;
    border: #c8c8c8 solid 1px;
}
.item_description{
    height: auto;
    width: auto;
}
.item_description p{
    margin: 40px;
}

/* FOOTER */

footer{
    clear: both;
    margin: 0 auto;
    height: 100px;
}
.bottom_menu{
    background: #e1e1e1;
}
.bottom_menu ul li a{
    color: #2c2c2c;
}
.bottom_menu ul .copyright{
    padding-right: 0;
    width: 35%;
    font-size: 13px;
    text-align: right;
}
.bottom_menu ul li a:hover{
    text-decoration: underline;
}
