
@font-face {
    font-family: 'lucida sans';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1;
}

body{
				font-family: lucida sans, arial, sans-serif;
}
.header{
				margin: 14px auto 0px;
				width: 908px;
}
.header_top, .zazor_img_main, .menu{
				width: 100%;
}
.contacts{
				margin-left: 7px;
}
.contacts img, .phone{
				display: block;
				float: left;
				margin-top: 4px;
}
.phone{
				color: #5e696d;
				font-family: arial;
				text-decoration: none;
				font-size: 18px;
				letter-spacing: 0.3pt;
				margin: 6px 5px 3px 2px;
}

/*AUTORIZATION FORM*/

.autorization{
				display: table;
				height: 27px;
				margin-left: 12px;
				width: 495px;
				padding: 3px 5px;
				background: rgba(31,104,135,1);
				background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(100%, rgba(12,51,87,1)));
				background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
				background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
				background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
				background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );
				border: 1px solid rgba(166, 195, 207, 0.5);
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-webkit-box-shadow: 3px 3px 12px 0px rgba(137,139,140,1);
				-moz-box-shadow: 3px 3px 12px 0px rgba(137,139,140,1);
				box-shadow: 3px 3px 12px 0px rgba(137,139,140,1);
}
.autorization *{
				display: inline;
				vertical-align: middle;
				font-size: 11px
}
.login{
				color: #97a2a6;
}
.login .submit{
				padding: 0;
				padding-bottom: 2px;
				color: #fff;
				background: none;
}
.login .submit, .serch-button{
				cursor: pointer;
}
.login .text_field{
				width: 114px;
				height: 18px;
				margin-right: 3px;
				border: 1px solid #82949c;
				border-radius: 2px;
}
.register,
.forgot_pass{
				line-height: 13pt;
}
.register{
				color: #fff;
				text-decoration: none;
}
.login-separator{
				display: inline-block;
				width: 1px;
				height: 10px;
				margin: 4px 2px;
				background: #d3dadf;
}
.forgot_pass{
				float: right;
				color: #97a2a6;
				letter-spacing: 0.3pt;
}

/*TOP NAV*/

.site_nav{
				height: 21px;
				width: 77px;
				margin-left: 17px;
				padding-left: 8px;
				border: 1px solid #c1c8cb;
				border-radius: 15px;
}
.site_nav li{
				display: block;
				float: left;
				margin: 1px 8px 0 0;
}

/*HEADER TOP END*/

.zazor_img_main{
				margin: 10px auto 3px;
}

menu{
				height: 34px;
				padding: 3px 1px 3px 124px;
				border: 1px solid #2c345a;
				background: rgba(44,52,90,1);
				background: -moz-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,52,90,1)), color-stop(6%, rgba(45,50,54,1)), color-stop(93%, rgba(4,4,5,1)), color-stop(100%, rgba(1,1,1,1)));
				background: -webkit-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
				background: -o-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
				background: -ms-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
				background: linear-gradient(to bottom, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c345a', endColorstr='#010101', GradientType=0 );
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				-webkit-box-shadow: 2px 2px 11px 0px rgba(80,82,94,1);
				-moz-box-shadow: 2px 2px 11px 0px rgba(80,82,94,1);
				box-shadow: 2px 2px 11px 0px rgba(80,82,94,1);
}
.menu, .menu ul *, .cashbox{
				display: block;
				float: left;
}
.main_navigation a{
				padding: 7px 20px;
				font-size: 12px;
				color: #8a9296;
				font-weight: bold;
				text-decoration: none;
				border-radius: 15px;
				-moz-border-radius: 15px;
				-webkit-border-radius: 15px;
				
}
@-moz-document url-prefix()
{
    .main_navigation a{
								letter-spacing: -1px;
				}
}
.main_navigation a:hover{
				color: #fff;
				background: rgba(37,97,123,1);
				background: -moz-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,97,123,1)), color-stop(100%, rgba(12,51,87,1)));
				background: -webkit-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
				background: -o-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
				background: -ms-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
				background: linear-gradient(to bottom, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25617b', endColorstr='#0c3357', GradientType=0 );
}

/*CASHBOX*/

.cashbox{
				margin: 3px 0px 0px 45px;
}
.my_purchase{
				float: right;
				width: 25%;
				margin: 6px 0px;
				font-size: 11px;
				letter-spacing: 0.1pt;
				color: #8a9296;
}
.order, .cost{
				color: #0d5a8f;
}
.order{
				margin-right: 12px;
}
.cost{
				margin-left: 5px;
}

/* HEADER END */

.search_container{
				margin: 9px auto;
				width: 914px;
				height: 143px;
}
.search{
				border: 1px solid #adadae;
				margin: 0 7px;
				height: 135px;
				position: relative;
				border-radius: 15px;
				-moz-border-radius: 15px;
				-webkit-border-radius: 15px;
				-webkit-box-shadow: 5px 4px 5px 0px rgba(173,173,174,1);
				-moz-box-shadow: 5px 4px 5px 0px rgba(173,173,174,1);
				box-shadow: 5px 4px 5px 0px rgba(173,173,174,1);
}
.search-by-auto{
				width: 415px;
}
.search h3, .search h4{
				font-weight: bold;
				color: #154468;
}
.search h3{
				position: absolute;
				left: 127px;
				top: 3px;
				font-size: 12px;
				letter-spacing: 0.9pt;
}
.search h4{
				margin-bottom: 5px;
				font-size: 9px;
				letter-spacing: 1.9pt;
}
.search-by-auto .right-align-h4{
				float: right;
}
.wheel, .tire{
				float: left;
				width: 50%;
				padding: 8px 10px 8px 18px;
}
.select-row{
				display: table-row;
				height: 22px;
}

/*SELECT DECOR*/

.search select{
				height: 17px;
				margin: 2px 0px;
				padding-right: 17px;
				overflow: hidden;
				font-size: 10px;
				border: none;
				background: none;
				color: #0c3256;
				-webkit-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
				box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: url(../img/strelka.png) no-repeat right;
}
/*SELECT DECOR END*/

.search-by-auto select{
				width: 105px;
}
.search-by-auto .select-year{
				width: 62px;
}
.search select:focus{
				outline: none;
}
.search p{
				display: table-cell;
				vertical-align: middle;
				font-size: 9px;
				width: 70px;
}
.gray_text{
				color: #77858b;
}

/*SEARCH BUTTON DECOR*/

.serch-button{
				float: right;
				background: none;
				color: #154467;
				font-style: italic;
				text-decoration: underline;
}
/*SEARCH BUTTON DERCOR END*/

.search-by-tire{
				width: 190px;
				padding: 22px 14px 0px;
}
.search-by-tire h3, .search-by-wheel h3{
				left: 10px;
}
.search-by-tire p{
				padding: 2px 3px 0 0
}
.small_select{
				margin: 0px;
				width: 55px;
}
.medium_select{
				margin: 0;
				width: 60px;
}
.search-by-tire .slash{
				padding: 0 5px;
}
.smaller_select{
				margin-bottom: 5px;
				width: 46px;
}
.radius p{
				padding: 0 6px 0 0;
				text-align: right;
}

.season{
				display: inline-block;
				padding-top: 4px;
				height: 41px;
				width: 120px;
}
.search-by-tire .season p{
				vertical-align: top;
				display: block;
				float: left;
				width: 45px;
				height: 100%
}

.search-by-tire label{
				display: table-cell;
				float: left;
    position: relative;
				padding: 0 15px;
				height: 14px;
				width: 60px;
				font-size: 9px;
				line-height: 14px;
				font-size: 10px;
    cursor: pointer;
}

/*CHECKBOX DECOR*/

.checkbox-decor input[type=checkbox]{
    display: none;
}
.checkbox-decor label:before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #FFf;
    border-radius: 2px;
    -webkit-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
				box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
}
.checkbox-decor input[type=checkbox]:checked + label:before {
    content: "";
				background: url(../img/galochka.png) no-repeat 2px ;
}
/*CHECKBOX DECOR END*/

/*SEARCH BY WHEEL*/

.search-by-wheel{
				padding: 4px 14px;
				width: 266px;
}
.left-side-by-wheel{
				float: left;
				width: 160px;
				padding: 20px 0;
}
.left-side-by-wheel p{
				display: inline-block;
				width: 90px;
}
.left-side-by-wheel select{
				margin: 0 2px
}
.right-side-by-wheel{
				float: right;
				width: 75px;
				height: 105px;
				padding-left: 8px;
				border-left: 1px solid black;
}
.right-side-by-wheel select{
		margin: 0;
}
.right-side-by-wheel p{
				padding: 5px 0 0;
}
.right-side-by-wheel .gray_text{
				display: block;
				padding: 0;
				margin: 0;
}
/*SEARCH BY WHEEL END*/

.content{
				width: 910px;
}
[class*=aside-column]{
    padding: 3px 0;
				width: 182px;
}
[class*=aside-header-],
[class*=aside-list-] p,
.choose-button{
    height: 26px;
    padding: 3px 0;
    margin-bottom: 6px;
    border: 1px solid #8b979c;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(140,150,154,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(140,150,154,1);
    box-shadow: 2px 2px 5px 0px rgba(140,150,154,1);
    transition: 0.3s;
}
.aside-header-left p{
    margin-bottom: 10px;
    font-size: 12px;
    background: url(../img/shape.png) no-repeat 2px -2px;
}
[class*=aside-header-] p{
    line-height: 20px;
    width: 170px;
    padding-left: 29px;
    color: #114165;
}
[class*=aside-nav-]{
    margin-top: 15px;

}
[class*=aside-list-] p{
    width: 155px;
    margin: 3px 0 0px;
    padding: 6px 29px;
    background: url(../img/marker.png) no-repeat 2px 40%;
}
.aside-submenu-list li{
    position: relative;
    width: 155px;
}
.aside-submenu-list li{
    font-weight: bold;
    font-size: 12px;
    color: #114165;
    margin: 2px 37px 0;
}
.aside-submenu-list li a{
    font-weight: normal;
    line-height: 23px;
    margin: 0px 5px;
    text-decoration: none;
    color: #465961;
    font-size: 12px;
    transition: 0.3s;
}
.aside-submenu-list li:hover{
    font-weight: bolder;
}
.aside-submenu-list li a:hover{
    color: #0c3256;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
/*LEFT SIDE MENU END*/
.product{
				width: 526px;
				margin: 0 10px;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				background: rgba(229,231,232,1);
				background: -moz-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
				background: -webkit-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
				background: -o-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
				background: -ms-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
				background: linear-gradient(to bottom, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0 );
    padding: 16px 15px 16px 9px;
}

.product figure{
    width: 33.33%;
    height: 202px;
    text-align: center;
}
.description{
    color: #206988;
    font-weight: bold;
    font-size: 15px;
}
.detailed-description{
    display: block;
    color: black;
    font-weight: normal;
    font-size: 12px;
}
.prpduct-photo-wrapper{
    margin: 0 auto;
    width: 140px;
    height: 130px;
    margin-bottom: 4px;
    background: #fff;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    -moz-border-radius: 7px;
				-webkit-border-radius: 7px;
}

.price{
    font-size: 16px;
    font-weight: 900;
    font-weight: bold;
    font-style: italic;
    color: #114165;
}
/*MAIN CINTENT END*/

.aside-nav-right{
    margin-left: 15px;
}
.aside-nav-right p{
    width: 135px
}
.aside-nav-right .aside-submenu-list{
    margin-bottom: 8px;
}
.aside-nav-right .aside-submenu-list li{
    margin: 0 10px;
}
.aside-submenu-list label{
    cursor: pointer;
    padding: 0px 20px;
    line-height: 26px;
}
.aside-submenu-list label:before{
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 6px;
    border: 1px solid #345b79;
}
.choose-button{
    margin: 10px 22px;
    width: 83px;
    color: #fff;
    background: rgba(31,104,135,1);
    background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(100%, rgba(12,51,87,1)));
    background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );
}
.choose-button:hover{
    -webkit-box-shadow: 0px 0px 17px 1px rgba(17,65,101,1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(17,65,101,1);
    box-shadow: 0px 0px 17px 1px rgba(17,65,101,1);
}
/*RIGHT SIDE MENU END*/

.company_list{
    margin: 32px auto 17px;
    width: 695px;
}
.company_list .company{
    margin: 0 7px
}
/*LIST COMPANY END*/

.footer{
    width: 908px;
    text-align: center;
    height: 100px;
    background: #213a4d;
    border: 1px solid #213a4d;
}
.footer ul{

}
.footer ul li{
    position: relative;
    display: inline-block;
    padding: 6px;
}
.footer ul li a{
    color: #fff;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
}
.footer ul li:after{
    content: "";
    position: absolute;
    right: -3px;
    top: 9px;
    height: 12px;
    width: 1px;
    background: #fff;
}
.footer ul li:last-child:after {
    width: 0;
}
.footer ul li a:hover{
    color: #52abcb;
}
.footer p{
    margin: 10px;
    font-size: 9px;
    color: #7f4740;
}
/* 
    Created on : 08.11.2015, 14:07:46
    Author     : yaroslav
*/

