@font-face
{
	font-family: 'lucida sans';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
	src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
	url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
	url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
}
.clearfix:before,
.clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
body
{
	font-family: lucida sans, arial, sans-serif;
}
.header
{
	margin: 14px auto 0px;
	width: 908px;
}
.header_top, .zazor_img_main, .menu
{
	width: 100%;
}
.contacts
{
	margin-left: 7px;
}
.contacts img, .phone
{
	display: block;
	float: left;
	margin-top: 4px;
}
.phone
{
	color: #5e696d;
	font-family: arial;
	font-size: 18px;
	letter-spacing: 0.3pt;
	margin: 6px 5px 3px 2px;
	text-decoration: none;
}
.autorization
{
	background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: rgba(31,104,135,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	border: 1px solid rgba(166, 195, 207, 0.5);
	border-radius: 3px;
	box-shadow: 3px 3px 12px 0px rgba(137,139,140,1);
	display: table;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );
	height: 27px;
	margin-left: 12px;
	moz-border-radius: 3px;
	moz-box-shadow: 3px 3px 12px 0px rgba(137,139,140,1);
	padding: 3px 5px;
	webkit-border-radius: 3px;
	webkit-box-shadow: 3px 3px 12px 0px rgba(137,139,140,1);
	width: 495px;
}
.autorization *
{
	display: inline;
	font-size: 11px;
	vertical-align: middle;
}
.login
{
	color: #97a2a6;
}
.login .submit
{
	background: none;
	color: #fff;
	padding: 0;
	padding-bottom: 2px;
}
.login .submit, .serch-button
{
	cursor: pointer;
}
.login .text_field
{
	border: 1px solid #82949c;
	border-radius: 2px;
	height: 18px;
	margin-right: 3px;
	width: 114px;
}
.register,
.forgot_pass
{
	line-height: 13pt;
}
.register
{
	color: #fff;
	text-decoration: none;
}
.login-separator
{
	background: #d3dadf;
	display: inline-block;
	height: 10px;
	margin: 4px 2px;
	width: 1px;
}
.forgot_pass
{
	color: #97a2a6;
	float: right;
	letter-spacing: 0.3pt;
}
.site_nav
{
	border: 1px solid #c1c8cb;
	border-radius: 15px;
	height: 21px;
	margin-left: 17px;
	padding-left: 8px;
	width: 77px;
}
.site_nav li
{
	display: block;
	float: left;
	margin: 1px 8px 0 0;
}
.zazor_img_main
{
	margin: 10px auto 3px;
}
menu
{
	background: linear-gradient(to bottom, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
	background: -moz-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
	background: -o-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
	background: rgba(44,52,90,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,52,90,1)), color-stop(6%, rgba(45,50,54,1)), color-stop(93%, rgba(4,4,5,1)), color-stop(100%, rgba(1,1,1,1)));
	background: -webkit-linear-gradient(top, rgba(44,52,90,1) 0%, rgba(45,50,54,1) 6%, rgba(4,4,5,1) 93%, rgba(1,1,1,1) 100%);
	border: 1px solid #2c345a;
	border-radius: 4px;
	box-shadow: 2px 2px 11px 0px rgba(80,82,94,1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c345a', endColorstr='#010101', GradientType=0 );
	height: 34px;
	moz-border-radius: 4px;
	moz-box-shadow: 2px 2px 11px 0px rgba(80,82,94,1);
	padding: 3px 1px 3px 124px;
	webkit-border-radius: 4px;
	webkit-box-shadow: 2px 2px 11px 0px rgba(80,82,94,1);
}
.menu, .menu ul *, .cashbox
{
	display: block;
	float: left;
}
.main_navigation a
{
	border-radius: 15px;
	color: #8a9296;
	font-size: 12px;
	font-weight: bold;
	moz-border-radius: 15px;
	padding: 7px 20px;
	text-decoration: none;
	webkit-border-radius: 15px;
}
@-moz-document url-prefix()
{
	.main_navigation a
	{
		letter-spacing: -1px;
	}
}
.main_navigation a:hover
{
	background: linear-gradient(to bottom, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
	background: -moz-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
	background: rgba(37,97,123,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,97,123,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25617b', endColorstr='#0c3357', GradientType=0 );
}
.cashbox
{
	margin: 3px 0px 0px 45px;
}
.my_purchase
{
	color: #8a9296;
	float: right;
	font-size: 11px;
	letter-spacing: 0.1pt;
	margin: 6px 0px;
	width: 25%;
}
.order, .cost
{
	color: #0d5a8f;
}
.order
{
	margin-right: 12px;
}
.cost
{
	margin-left: 5px;
}
.search_container
{
	height: 143px;
	margin: 9px auto;
	width: 914px;
}
.search
{
	border: 1px solid #adadae;
	border-radius: 15px;
	box-shadow: 5px 4px 5px 0px rgba(173,173,174,1);
	height: 135px;
	margin: 0 7px;
	moz-border-radius: 15px;
	moz-box-shadow: 5px 4px 5px 0px rgba(173,173,174,1);
	position: relative;
	webkit-border-radius: 15px;
	webkit-box-shadow: 5px 4px 5px 0px rgba(173,173,174,1);
}
.search-by-auto
{
	width: 415px;
}
.search h3, .search h4
{
	color: #154468;
	font-weight: bold;
}
.search h3
{
	font-size: 12px;
	left: 127px;
	letter-spacing: 0.9pt;
	position: absolute;
	top: 3px;
}
.search h4
{
	font-size: 9px;
	letter-spacing: 1.9pt;
	margin-bottom: 5px;
}
.search-by-auto .right-align-h4
{
	float: right;
}
.wheel, .tire
{
	float: left;
	padding: 8px 10px 8px 18px;
	width: 50%;
}
.select-row
{
	display: table-row;
	height: 22px;
}
.search select
{
	appearance: none;
	background: none;
	background: url(../img/strelka.png) no-repeat right;
	border: none;
	box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
	color: #0c3256;
	font-size: 10px;
	height: 17px;
	margin: 2px 0px;
	moz-appearance: none;
	moz-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
	overflow: hidden;
	padding-right: 17px;
	webkit-appearance: none;
	webkit-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
}
.search-by-auto select
{
	width: 105px;
}
.search-by-auto .select-year
{
	width: 62px;
}
.search select:focus
{
	outline: none;
}
.search p
{
	display: table-cell;
	font-size: 9px;
	vertical-align: middle;
	width: 70px;
}
.gray_text
{
	color: #77858b;
}
.serch-button
{
	background: none;
	color: #154467;
	float: right;
	font-style: italic;
	text-decoration: underline;
}
.search-by-tire
{
	padding: 22px 14px 0px;
	width: 190px;
}
.search-by-tire h3, .search-by-wheel h3
{
	left: 10px;
}
.search-by-tire p
{
	padding: 2px 3px 0 0;
}
.small_select
{
	margin: 0px;
	width: 55px;
}
.medium_select
{
	margin: 0;
	width: 60px;
}
.search-by-tire .slash
{
	padding: 0 5px;
}
.smaller_select
{
	margin-bottom: 5px;
	width: 46px;
}
.radius p
{
	padding: 0 6px 0 0;
	text-align: right;
}
.season
{
	display: inline-block;
	height: 41px;
	padding-top: 4px;
	width: 120px;
}
.search-by-tire .season p
{
	display: block;
	float: left;
	height: 100%;
	vertical-align: top;
	width: 45px;
}
.search-by-tire label
{
	cursor: pointer;
	display: table-cell;
	float: left;
	font-size: 10px;
	font-size: 9px;
	height: 14px;
	line-height: 14px;
	padding: 0 15px;
	position: relative;
	width: 60px;
}
.checkbox-decor input[type=checkbox]
{
	display: none;
}
.checkbox-decor label:before
{
	background-color: #FFf;
	border-radius: 2px;
	bottom: 1px;
	box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
	content: "";
	display: inline-block;
	height: 13px;
	left: 0;
	moz-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
	position: absolute;
	webkit-box-shadow: inset 2px 2px 3px 0px rgba(0,0,0,0.75);
	width: 13px;
}
.checkbox-decor input[type=checkbox]:checked + label:before
{
	background: url(../img/galochka.png) no-repeat 2px;
	content: "";
}
.search-by-wheel
{
	padding: 4px 14px;
	width: 266px;
}
.left-side-by-wheel
{
	float: left;
	padding: 20px 0;
	width: 160px;
}
.left-side-by-wheel p
{
	display: inline-block;
	width: 90px;
}
.left-side-by-wheel select
{
	margin: 0 2px;
}
.right-side-by-wheel
{
	border-left: 1px solid black;
	float: right;
	height: 105px;
	padding-left: 8px;
	width: 75px;
}
.right-side-by-wheel select
{
	margin: 0;
}
.right-side-by-wheel p
{
	padding: 5px 0 0;
}
.right-side-by-wheel .gray_text
{
	display: block;
	margin: 0;
	padding: 0;
}
.content
{
	width: 910px;
}
[class*=aside-column]
{
	padding: 3px 0;
	width: 182px;
}
[class*=aside-header-],
[class*=aside-list-] p,
.choose-button
{
	border: 1px solid #8b979c;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 0px rgba(140,150,154,1);
	height: 26px;
	margin-bottom: 6px;
	moz-border-radius: 15px;
	moz-box-shadow: 2px 2px 5px 0px rgba(140,150,154,1);
	padding: 3px 0;
	transition: 0.3s;
	webkit-border-radius: 15px;
	webkit-box-shadow: 2px 2px 5px 0px rgba(140,150,154,1);
}
.aside-header-left p
{
	background: url(../img/shape.png) no-repeat 2px -2px;
	font-size: 12px;
	margin-bottom: 10px;
}
[class*=aside-header-] p
{
	color: #114165;
	line-height: 20px;
	padding-left: 29px;
	width: 170px;
}
[class*=aside-nav-]
{
	margin-top: 15px;
}
[class*=aside-list-] p
{
	background: url(../img/marker.png) no-repeat 2px 40%;
	margin: 3px 0 0px;
	padding: 6px 29px;
	width: 155px;
}
.aside-submenu-list li
{
	position: relative;
	width: 155px;
}
.aside-submenu-list li
{
	color: #114165;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 37px 0;
}
.aside-submenu-list li a
{
	color: #465961;
	font-size: 12px;
	font-weight: normal;
	line-height: 23px;
	margin: 0px 5px;
	text-decoration: none;
	transition: 0.3s;
}
.aside-submenu-list li:hover
{
	font-weight: bolder;
}
.aside-submenu-list li a:hover
{
	color: #0c3256;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
.product
{
	background: linear-gradient(to bottom, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -moz-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -o-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: rgba(229,231,232,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
	background: -webkit-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0 );
	margin: 0 10px;
	moz-border-radius: 4px;
	padding: 16px 15px 16px 9px;
	webkit-border-radius: 4px;
	width: 526px;
}
.product figure
{
	height: 202px;
	text-align: center;
	width: 33.33%;
}
.description
{
	color: #206988;
	font-size: 15px;
	font-weight: bold;
}
.detailed-description
{
	color: black;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.prpduct-photo-wrapper
{
	background: #fff;
	border: 1px solid #b0b9bc;
	border-radius: 7px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: 4px;
	moz-border-radius: 7px;
	padding: 5px;
	webkit-border-radius: 7px;
	width: 140px;
}
.price
{
	color: #114165;
	font-size: 16px;
	font-style: italic;
	font-weight: 900;
	font-weight: bold;
}
.aside-nav-right
{
	margin-left: 15px;
}
.aside-nav-right p
{
	width: 135px;
}
.aside-nav-right .aside-submenu-list
{
	margin-bottom: 8px;
}
.aside-nav-right .aside-submenu-list li
{
	margin: 0 10px;
}
.aside-submenu-list label
{
	cursor: pointer;
	line-height: 26px;
	padding: 0px 20px;
}
.aside-submenu-list label:before
{
	border: 1px solid #345b79;
	bottom: 6px;
	height: 10px;
	position: absolute;
	width: 10px;
}
.choose-button
{
	background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	background: rgba(31,104,135,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );
	margin: 10px 22px;
	width: 83px;
}
.choose-button:hover
{
	box-shadow: 0px 0px 17px 1px rgba(17,65,101,1);
	moz-box-shadow: 0px 0px 17px 1px rgba(17,65,101,1);
	webkit-box-shadow: 0px 0px 17px 1px rgba(17,65,101,1);
}
.company_list
{
	margin: 32px auto 17px;
	width: 695px;
}
.company_list .company
{
	margin: 0 7px;
}
.footer
{
	background: #213a4d;
	border: 1px solid #213a4d;
	height: 100px;
	text-align: center;
	width: 908px;
}
.footer ul
{
}
.footer ul li
{
	display: inline-block;
	padding: 6px;
	position: relative;
}
.footer ul li a
{
	color: #fff;
	font-size: 12px;
	padding: 4px;
	text-decoration: none;
}
.footer ul li:after
{
	background: #fff;
	content: "";
	height: 12px;
	position: absolute;
	right: -3px;
	top: 9px;
	width: 1px;
}
.footer ul li:last-child:after
{
	width: 0;
}
.footer ul li a:hover
{
	color: #52abcb;
}
.footer p
{
	color: #7f4740;
	font-size: 9px;
	margin: 10px;
}
