@font-face{
    font-family: Tahoma;
    src: url(../fonts/Tahoma-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/background.jpg) repeat-x;
    font-family: Tahoma;
}
/*.clearfix:after{
    content:'';
    clear: both;
    display: block;
}*/
.main_wrapper{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 600px;
    min-height: 990px;
    background: white;
}
header, .header_top, .header_bottom, .menu, .content_wrapper, footer{
    margin: 0 auto;
}
header{
    height: 175px;
    width: 100%;
    border-bottom: 1px solid black;
}
.header_top{
    height: 100%;
    position: relative;
}

.logo{
    margin-left: 30px;
    height: 100%;
    position: absolute;
    bottom: 0px;
}
.logo img{
    position: absolute;
    bottom: 0px;
}
.info{
    height: 100%;
    float: right;
}
.contacts{
    margin: 10px 20px;
    float: right;
}
.contacts p a, .contacts p{
    font-size: 12px;
    color: #5fa5bb;
    text-decoration: none;
}
.choose_country{
    height: 60px;
    margin: 15px;
    clear: both;
}
.country{
    width: 60px;
    margin-top: 30px;
    float: right;
    font-size: 10px;
    text-align: center;
}
.country p a{
    color: #5fa5bb;
}
.header_bottom{
    height: 239px;
}
.header_bottom img{
    border-bottom: 1px solid #128aa7;
    border-top:  1px solid #128aa7;
}
.menu{
    position: static;
    height: 40px;
    width: 100%;
    border-top: 1px solid #cacbcb;
    //border-bottom: 1px solid black;
}
.nav, .nav ul{
    list-style: none;
    
}
.nav{
    position: relative;

}
.nav ul{
    height: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.nav li{
    float: left;
    position: relative;
    left:  0px;
}
.nav li a{
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    background-color: #303030;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.nav li:hover>a{
    background: #303030;
    color: #ffffff;
}
.nav li:hover>ul.travel, ul.partners, ul.services{
    height: auto;
    width: auto;
}
.nav ul li{
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
}
.nav li ul li{
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.nav li:hover ul li{
    opacity: 1;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.nav ul li a{
    background: #303030;
    color: #ffffff;
    line-height: 1px;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}
.nav li:hover ul li a{
    line-height: 20px;
}
.nav ul li a:hover{
    background: #303030;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}
























