@font-face{
    font-family: Tahoma;
    src: url(../fonts/Tahoma-Regular.ttf);
}
*{
    margin: 0; 
    padding: 0;
}
body{
    background: url(../img/background.jpg) repeat-x;
    font-family: Tahoma;
}
/*.clearfix:after{
    content:'';
    clear: both;
    display: block;
}*/
.main_wrapper{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 600px;
    min-height: 990px;
    background: white;
    border-bottom: 1px solid  black;
    -webkit-box-shadow: 0px 4px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 23px -2px rgba(0,0,0,0.75);
}
header, .header_top, .header_bottom, .menu, .content_wrapper, footer{
    margin: 0 auto;
}
/*THE COMMON END*/
header{
    height: 442px;
    width: 100%;
    border-bottom: 1px solid black;
}
.header_top{
    height: 175px;
}

.logo{
    float: left;
    margin-left: 30px;
    height: 100%;
    bottom: 0px;
}
.logo img{
    margin-top: 11px;
}
.info{
    height: 100%;
    float: right;
}
.contacts{
    margin: 10px 20px;
    float: right;
}
.contacts p a, .contacts p{
    font-size: 12px;
    color: #5fa5bb;
    text-decoration: none;
}
.choose_country{
    height: 60px;
    margin: 15px;
    clear: both;
}
.country{
    width: 60px;
    margin-top: 30px;
    float: right;
    font-size: 10px;
    text-align: center;
}
.country p a{
    color: #5fa5bb;
}
.header_bottom{
    width: 100%;
    height: 239px;
}
.header_bottom img{
    width: 100%;
    border-bottom: 1px solid #128aa7;
    border-top:  1px solid #128aa7;
}
/*HEADER END*/
.menu{
    width: 100%;
    min-width: 600px;
    height: 27px;
    background: #303030;
    position: relative;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
ul.nav{
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    height: auto;
    min-width: 600px;
    position: absolute;
    z-index: 100;
    
}
.nav li{
    text-align: center;
    display: table-cell;
    width: 11%;
}
*html .nav li{
    display: inline;
    zoom: 1;
    
}
.nav a:link, .nav a:hover, .nav a:visited{
    display: block;
    background: #303030;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}
.nav ul li:first-child{
    border-top: 1px solid black;
}
.nav a:hover{
    background: #303030;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}
ul.travel, 
ul.services, 
ul.partners{
    display: block;
    padding: 0;
}
.travel li, 
.services li, 
.partners li{
    display: block;
    width: 100%;
    -webkit-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
}
ul.travel, 
ul.services, 
ul.partners{
    display: none;
    padding: 0;
}
.nav li:hover ul.travel,
.nav li:hover ul.services,
.nav li:hover ul.partners{
    display: block;
}


.nav ul li a:hover{
    background: #303030;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}
/*NAVIGATION MENU END*/
.content_wrapper{
    clear: both;
    height: 550px;
    width: 100%;
}
.content_wrapper div{
    float: left;
}
.info_box, .news_box{
    width: 21%;
    height: 100%;
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    background-color: #edeef0;
}

.main_content_box{
    width: 58%;
    height: 100%;
}
.content_box{
    width: 99.7%;
    height: 100%;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}
footer{
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
