*{
    margin: 0;
    padding: 0;
}
.grid-container{
    width: 100%;
    max-width: 1400px;
}
[class*='row-']:before,
[class*='row-']:after{
    content: "";
    display: table;
    clear: both;
}

.grid-container *{
        box-sizing: border-box; 
}

[class*='horizontal-col-'] {
        float: left;
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter --*/
        border: 5px solid black;
}
[class*='vertical-col-'] {
        min-height: 1px; 
        width: 100%; 
        /*-- our gutter --*/
        border: 5px solid black;
        background: red;
}

/* BEGIN */

.row-1 div{
    height: 90px;
}
.row-1 .horizontal-col-2, .row-1 .horizontal-col-3{
    width: 41.67%
}
.column-1{
    width: 100%;
}
.column-1 .vertical-col-1, .column-1 .vertical-col-3{
    height: 280px;
}
.column-1 .vertical-col-2{
    height: 400px;
}

.row-2 .horizontal-col-1{
    width: 10%;
}
.row-2 .horizontal-col-2{
    width: 48.3%;
}
.row-2 .horizontal-col-3{
    width: 41.7%;
}
.column-2 .vertical-col-1{
    height: 500px
}
.row-3 .horizontal-col-1, .row-3 .horizontal-col-2{
    width: 50%;
}
.column-3 .vertical-col-1, .column-3 .vertical-col-2{
    height: 150px;
}
.row-3 .horizontal-col-1{
    height: 310px;
}
