/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.10.2015, 15:57:57
    Author     : yaroslav
*/
*{
    padding: 0;
    margin: 1px;
}
body{
    margin: 0;
    height: auto;
    background-color: #EFEDE8;
    border: solid #b5b5b5 1px;
    border-radius: 4px;
    
    
}
header{
    position: relative;
    top: 0px;
    width: 99.9%;
    text-align: center;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    //background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
h1{
    font-size: 27px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
}
h1, .leftBar>p,.leftButton>p, .leftButtonA>p, .nav>p, .window>p{
    font-family: noto sans;
    src: url(http://allfont.ru/allfont.css?fonts=noto-sans);
}
.main{
    height: 100%;
    margin: 2px;
    border: solid #b5b5b5 1px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.topBar{
    top: 0px;
    height: 30px;
    width: auto;
    position: relative;
    /* margin: 0 auto; */
    background-color: #EFEDE8;
}
.line{
    height: 29px;
    float: left;
    width: 1px;
    background: rgb(245,246,246);/* Old browsers */
    background: 
    -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%);/* FF3.6+ */
    background: 
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1)));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);/* IE10+ *///
    background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}
.topButton{
    height: 15px;
    width: auto;
    float: left;
    margin: 8px;
    font-family: noto sans;
    font-size: 15px;
}
.topBar div:first-child{
    margin-left: 5px;
}
.content{
    top: 0px;
    height: 600px;
    width: auto;
    position: relative;
    margin: 0;
}
.rdiv1 {
    float:left;
    height:100%;
    width: 18%;
    margin-left:10px;
    
}
.rdiv2{
    float:left;
    width: 79%;
    height:100%;
    margin-left:7px;
    
}
.content div:first-child{
    margin-left: 2px;
}
.leftBar{
    height: 99%;
    width: 100%;
    border: solid #b5b5b5 1px;
    border-radius: 4px;
}
.leftBar>p{
    margin: 7px auto 10px 6px;
    font-size: 15px;
    color: #ACABAA;
}
.leftButtonA{
    width: 90%;
    margin-left: 3px;
    border: solid #4789F4 1px;
    border-radius: 4px;
    background: rgb(208,228,247); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
    //background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 );
    color: white;
}
.leftButton{
    width: 90%;
    margin-left: 3px;
    border: solid #77C1DB 1px;
    border-radius: 4px;
    background: rgb(235,241,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
    //background: linear-gradient(to bottom, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
}
.leftButton>p, .leftButtonA>p{
    margin-left: 4px;
    font-size: 15px;
    
}
.nav{
    height: auto;
    width: auto;
    margin: 4px 4px 2px 4px;
}
.nav>p{
    margin-left: 10px;
    font-size: 15px;
}
.window{
    height: 90%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin: 0px 20px 2px 5px ;
    background-color: #F4FBE4;
    border: solid #4789F4 1px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 15px -1px rgba(4,120,159,1);
    -moz-box-shadow: inset 0px 0px 15px -1px rgba(4,120,159,1);
    box-shadow: inset 0px 0px 15px -1px rgba(4,120,159,1);
}
.window>p{
    margin: 15px;
    text-align: justify;
}
.footer{
    width: auto;
    height: 70px;
    background-color: #DEDDD9;
    position: relative;
    margin: 0 auto;
    margin-left: 200px;
    margin-right: 200px;
    bottom: 0px;
    -webkit-box-shadow: 0px -2px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 18px 0px rgba(0,0,0,0.75);
    border-top: solid cadetblue thin;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}
address{
    font-size: 13px;
    margin: 10px;
}
.adr {
    margin: 0;
}
.social{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px
}
