/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.12.2015, 18:07:46
    Author     : yaroslav
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background: lightsteelblue;
}

.javaStart{
    height: 40px;
    width: 120px;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    border: 1px solid turquoise;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
    margin-left: -60px;
    transition: 1.3s;
}
.javaStart:hover{
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(0,153,255,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(0,153,255,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(0,153,255,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(0,153,255,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(0,153,255,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}

.wrapper{
    height: 900px;
    width: 700px;
    font-family: arial;
    position: relative;
    margin: 40px auto;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 4px;
    z-index: 1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.close-button{
    position: absolute;
    height: 32px;
    width: 32px;
    right: 0;
    margin: 10px;
    background: url(http://den.gd.ru/img/close.png);
    background-size: cover;
    outline: none;
    border: none;
}
.close-button:hover{
    cursor: pointer;
}
.java-legend{
    margin: 20px auto;
    font-size: 20px;
}
.java-ul{
    list-style: none;
    margin: 10px auto;
    width: 500px;
}
.java-label{
    display: block;
    position: relative;
    margin: 10px;
}
.java-label input{
    margin: 0 5px;
}
.java-label:hover{
    cursor: pointer;
}
.java-submit{
    margin: 40px 250px;
    padding-left: -100px;
    height: 60px;
    width: 200px;
}