
nav, .media, .wrapper{
    width: 440px;
}
.head{
    height: 547px;
}
nav{
    height: 204px;
}
.logo{
    display: block;
    margin: 0 auto;
    width: 160px;
}
.top-nav{
    float: none;
    margin: 18px auto;
    padding: 0;
    display: block;
    text-align: center;
    height: 43px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 46px;
    border-bottom: 2px solid #edbfff;
}
.top-nav .navigation-item{
    margin: 0;
    height: 43px;
    position: relative;
    display: list-item;
}

 .top-nav .navigation-link{
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 43px;
}
.top-nav .navigation-link:before{
    width: 100%;
    left: 0;
}
.top-nav:hover{
    width: 246px;
    height: 260px;
    background: rgba(63, 50, 72, 0.8);
    border: 1px solid #111b22;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    transition: height 0.5s linear;
}

.top-nav:hover .navigation-link{
    border-bottom: 1px solid #36283e;
    border-top: 1px solid #6e4a7d;
    
}
.top-nav .navigation-link:hover{
    background: rgba(43, 34, 49, 0.7);
}
.top-nav .navigation-link:active{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}
.top-nav .navigation-link:active:before{
    width: 100px;
    left: 50%;
    bottom: 4px;
    margin-left: -50px;
}

/*NAVIGATION END*/

.presentation{
    height: 245px;
}
.media-header{
    font-size: 35px;
    margin: 90px 0 0;
}
.paragraph-header{
    margin-top: 4px;
    letter-spacing: -1px;
    font-size: 18px;
    width: 260px
}
.media-paragraph{
    display: none;
}
.arrow-left, .arrow-right{
    top: 42%;
}


@keyframes media{
    0%{
        top: -5px;
        right: 56px;
        width: 137px;
        height: 302px;
        z-index: 1;
    }
    30%{
        top: -5px;
        right: 56px;
        width: 137px;
        height: 302px;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
        z-index: 1;
    }
    35%{
        top: 22px;
        right: -40px;
        pause:3s;
        z-index: 0;
    }
    40%{
        top: 38px;
        right: 80px;
        width: 103px;
        height: 217px;
        z-index: 0;
    }
    50%{
        top: 52px;
        right: 155px;
        width: 87px;
        height: 182px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    80%{
        top: 52px;
        right: 155px;
        width: 87px;
        height: 182px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    100%{
        z-index: 2;
    }
}
@keyframes media2{
    0%{
        top: 52px;
        right: 155px;
        width: 87px;
        height: 182px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 0;
    }
    30%{
        top: 52px;
        right: 155px;
        width: 87px;
        height: 182px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        z-index: 1;
    }
    40%{
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
    }
    50%{
        top: -5px;
        right: 56px;
        width: 137px;
        height: 302px;
        z-index: 1;
    }
    
    80%{
        top: -5px;
        right: 56px;
        width: 137px;
        height: 302px;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        filter: blur(0px);
        z-index: 1;
    }
    85%{
        top: 22px;
        right: -40px;
        pase:3s;
        z-index: 0;
    }
    90%{
        top: 38px;
        right: 80px;
        width: 103px;
        height: 217px;
        z-index: 0;
    }
    100%{
        z-index: 1;
    }
}
.active-img{
    position: absolute;
    top: -5px;
    right: 56px;
    width: 137px;
    height: 302px;
    z-index: 0;
    animation: media 10s infinite linear;
}
.active-img-copy{
    position: absolute;
    top: 52px;
    right: 155px;
    width: 87px;
    height: 182px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    z-index: 0;
    animation: media2 10s infinite linear;
}

@keyframes play2{
    0%{
        top: 100px;
    right: 98px;
    height: 50px;
    width: 50px;
    }
    50%{
        top: 87px;
        right: 85px;
        height: 76px;
        width: 76px;
    }
}
.play{
    position: absolute;
    top: 100px;
    right: 98px;
    height: 50px;
    width: 50px;
    z-index: 7;
    animation: play2 3s infinite linear;
    animation-play-state: paused;
}

/*MEDIA END*/


.change{
    float: none;
    display: block;
    width: 88px;
    margin: 20px auto;
}

/*HEADER END*/

.about-main{
    height: 600px;
}
.about-wrapper{
    padding-top: 65px;
}
.about{
    width: 100%;
    padding: 0 0 0 60px;
    margin: 14px 0 0;
    background-position-y: 0;
}
.about-description{
    height: auto;
}
.read-more{
    margin: 10px;
}
.read-more:active{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

/*ABPUT END*/

.blog{
    height: 788px;
}
.content-wrapper{
    margin: 0 auto;
    padding: 68px 0;
}
.blog-wrapper{
    width: 95%;
    padding: 28px 20px 0 37px;
}
.blog-wrapper:before{
    top: 19px;
    left: -26px;
}
.messages, .updates{
    width: 100%;
}

.blog-header{
    font-size: 30px;
}
.blog-header span{
    display: inline;
}
.blog-paragraph{
    margin-top: 15px
}
.updates{
    padding: 40px 57px
}
.read-more{
    margin: 16px 47px 0 0;
}

/*CONTENT END*/

.company{
    height: 230px;
}
.company-list{
    padding: 12px 45px
}
.bong{
    margin: 0 12px;
}
.dc{
    margin: 0 0 0 38px;
}
.awsm{
    margin: 20px 0;
}
.rvca{
    margin: 20px 0 20px 50px;
}
.vonzipper{
    margin: 20px 0 20px 50px;
}
.other-info{
    padding: 80px 0 0;
    height: 670px;
}
.info-wrapper{
    width: 450px;
}
.info-box:nth-child(3){
    margin: 0;
}
.info-box{
    width: 100%;
    height: 185px;
}
.blog-header{
    font-size: 24px;
}

.other-info:after{
    z-index: 0;
    top: 650px;
    width: 440px;
    margin: 0 -272px;
}

/*CONTENT END*/


.foot-nav{
    width: 100%;
    margin: 45px 0;
    display: table;
    height: 20px;
    
}
.foot-nav .navigation-item{
    display: table-cell;
    width: 100px;
}
.foot-nav .navigation-link{
    margin: 0;
    font-size: 20px;
    white-space: nowrap;
}
.designet{
    position: absolute;
    left: 50%;
    margin-left: -78px;
}


/* 
    Created on : 22.11.2015, 13:08:43
    Author     : yaroslav
*/

