
@font-face{
    font-family: "Tahoma";
    src: url("//db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma";
}

body{
    background: url(../img/background.jpg) repeat-x 0 -38px;
    height: 100vh;
    display: flex;
	flex-direction: column;
}

.content-shadow{
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 5px black;
    flex: 0 0 auto;
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header *{color: #128aa7;}

header{
    height: 175px;
    display: grid;
    background: white;
    grid-template-columns: 1fr 2fr;
}

header > a{
    grid-row: 1/3;
    background: url("../img/logo.png") no-repeat 28px 12px;
}

.logo-wrapper h1{
    margin: 109px 0 0 100px;
    /* margin: auto; */
    width: max-content;
    font-size: 12px;
}

address{
    font-style: normal;
    justify-self: end;
    font-size: 12px;
    padding: 8px 31px;
}

address *{
    width: max-content;
}

address p:first-child{
    margin-bottom: 6px;
}

address a{
    line-height: 18px;
}

.choose-country{
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px 0 0;
    /* height: 50%;
    width: 70%; */
    font-size: 10px;
    text-decoration: underline;
}

.choose-country li{
    width: 56px;
    text-align: center;
}

.preview{
    height: 235px;
    background: url("../img/photo.jpg") no-repeat;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid white;
}

.menu{
    display: flex;
    height: 29px;
    background: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .7);
    font-size: 14px;
    text-align: center;
    position: relative;
}

.menu li{
    width: 14%;
    text-align: center;
}

.menu a{
    line-height: 28px;
    color: white;
    
}

.sub-menu{
    background: #353535;
    transform: scaleY(0);
    transition: all .3S linear;
    transform-origin: 0 0;
    -webkit-transition: all .3S linear;
    -moz-transition: all .3S linear;
    -ms-transition: all .3S linear;
    -o-transition: all .3S linear;
    box-shadow: -2px 3px 7px rgba(0, 0, 0, .5);
}

.sub-menu li{
    text-align: center;
    width: 100%;
    margin-top: 1px;
}

.sub-menu li:first-child{
    border-top: 1px solid black;
}

.menu li:hover > .sub-menu{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}

.content-wrapper{
    display: grid;
    grid-template-columns: 21% 58% 21%;
    background: white;
    text-align: center;
}

.content-wrapper h2{
    font-size: 18px;
    margin-top: 14px;
}

.content-wrapper p{
    font-size: 14px;
    line-height: 24px;
}


.news{
    grid-column: 3;
    border-left: 1px solid #c7cacf;
}

.info{
    border-right: 1px solid #c7cacf;
}

.news,
.info{
    background: #edeef0;
}

footer{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    align-items: flex-end;
    text-align: center;
}

footer p{
    width: 100%;
    color: white;
    font-size: 12px;
    line-height: 30px;

}