/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.carusel input:focus, 
.carusel button:focus, 
.carusel textArea:focus{
    outline: none;
}
.carusel{
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    overflow: hidden;
}
.carusel li{
    display: inline-block;
    width: 50px;
    position: relative;
    transition: all 0.4s linear;
}

/*FIX ROTATION TRANSITION for IMG*/

@keyframes following-go-active{
    from{
        transform: perspective(1000px) rotate3d(0, 1, 0, -80deg);
    }
    to{
        transform: perspective(1000px) rotate3d(0, 1, 0, -0deg);
    }
}

/*FIX rotation from pervius to active*/

@keyframes pervius-go-active{
    from{
        transform: perspective(700px) rotate3d(0, 1, 0, 74deg);
    }
    to{
        transform: perspective(1000px) rotate3d(0, 1, 0, -0deg);
    }
}

/*FIX rotation from active to following*/

@keyframes active-go-following{
    0%{
        transform: perspective(700px)  rotate3d(0, 1, 0, 0deg);
    }
    100%{
        transform: perspective(700px)  rotate3d(0, 1, 0, -80deg);
    }
}

.carusel-wrapper img{
    width: 300px;
    position: relative;
    -webkit-box-shadow: 13px -8px 50px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px -8px 50px -12px rgba(0,0,0,0.75);
    box-shadow: 13px -8px 50px -12px rgba(0,0,0,0.75);
    transition: all 0.4s linear;
}

.carusel li{
    position: absolute;
    top: 175px;
}

/*
REFLECTION FIX TANSITION !!!
 Без этих коррекций анимация перехода ведет себя непредсказуемо (P.S. сюда лучше вообще не лезть с правками)
*/

/*TRANSITION FIX from folliwing to active*/

@keyframes following-to-active{
    0%{
        left: 10px;
        bottom: -35px;
        transform: rotate(37deg) scale(0.799) skew(-54deg) translate(-14px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    }
    10%{
        left: -35px;
        bottom: -69px;
        transform: rotate(10deg) scale(1) skew(-50deg) translate(-11px) scaleY(-1) perspective(150px) rotate3d(1, 0, 0, -30deg);
    }
    80%{
        left: -15px;
        bottom: -80px;
        transform: rotate(3deg) scale(0.9) skew(-44deg) translate(-5px) scaleY(-1) perspective(190px) rotate3d(1, 0, 0, -30deg);
    }
    100%{
        left: -34px;
        bottom: -90px;
        rotate(-0deg) scale(0.72) skew(-42deg) translate(0px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
}

/*TRANSITION FIX from forward to active*/

@keyframes pervius-to-active{
 
   0%{
        left: 28px;
        bottom: -8px;
        transform: rotate(-37deg) scale(0.79) skew(45deg) translate(-5px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    }
   20%{
        left: 20px;
        bottom: -50px;    
        transform: rotate(-15deg) scale(0.79) skew(45deg) translate(30px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    }
   40%{
        left: -14px;
        bottom: -60px;
        transform: rotate(-5deg) scale(0.79) skew(45deg) translate(30px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    }
    60%{
        left: -24px;
        bottom: -70px;
        transform: rotate(-4deg) scale(0.75) skew(-12deg) translate(15px) scaleY(-1) perspective(150px) rotate3d(1, 0, 0, -30deg);
    }
    80%{
        transform: rotate(-2deg) scale(0.72) skew(-32deg) translate(0px) scaleY(-1) perspective(180px) rotate3d(1, 0, 0, -30deg);
    }
    100%{
        left: -34px;
        bottom: -90px;
        transform: rotate(-0deg) scale(0.72) skew(-42deg) translate(0px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
}

/*TRANSITION FIX from active to forward*/

@keyframes forwarding{
   0%{
        left: -34px;
        bottom: -90px;
        transform: rotate(0deg) scale(0.72) skew(42deg) translate(0px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
    10%{
        transform: rotate(0deg)scale(0.72) skew(42deg) translate(0px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
    30%{
        transform: rotate(-1deg)scale(0.72) skew(42deg) translate(-10px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
    50%{
        left: 58px;
        bottom: -58px;
        transform: rotate(-5deg)scale(0.74) skew(43deg) translate(-20px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
    60%{
        left: 58px;
        bottom: -45px;
        transform: rotate(-8deg)scale(0.74) skew(43deg) translate(-50px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
    }
    80%{
        left: 38px;
        bottom: -28px;
        transform: rotate(-15deg)scale(0.75) skew(44deg) translate(-5px) scaleY(-1) perspective(110px) rotate3d(1, 0, 0, -30deg);
    }
    90%{
        left: 38px;
        bottom: -23px;
        transform: rotate(-28deg)scale(0.78) skew(44deg) translate(-5px) scaleY(-1) perspective(110px) rotate3d(1, 0, 0, -30deg);
    }
    100%{
        left: 28px;
        bottom: -8px;
        transform: rotate(-37deg) scale(0.79) skew(45deg) translate(-5px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    }
}

/*FIX reflection img size transition*/

@keyframes reflect-img-size{
    0%{
        height: 100px;
        width: 780px;
    }
    100%{
        height: 30px;
        width: 120px;
    }
}

@keyframes following-to-active-img{
    0%{
        height: 30px;
        width: 120px;
    }
    50%{
        height: 75px;
        width: 490px;
    }
    75%{
        width: 610px;
    }
    100%{
        height: 100px;
        width: 780px;
    }
}

/*REFLEXTION FIX COMPLEATE*/

    /*FOLLOWING IMG*/

.following{
    margin: 0 auto;
    position: relative;
    transform: perspective(700px)  rotate3d(0, 1, 0, -80deg);
    animation: active-go-following 0.4s linear;
}
.following img{
    -webkit-box-shadow: 14px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 14px 0px 20px -7px rgba(0,0,0,0.75);
}
/*REFLECT FOLLOWING*/

.following-reflect{
    position: absolute;
    width: 100%;
    left: 10px;
    bottom: -35px;
    opacity:  0.5;
    -webkit-filter: url(#blur);
    -webkit-filter: blur(3px);
    filter: url(#blur);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    transform: rotate(37deg) scale(0.799) skew(-54deg) translate(-14px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    transition: all 0.4s linear;
}
.following-reflect img{
    height: 30px;
    width: 120px;
    animation: reflect-img-size 0.4s linear;
}

    /*ACTIVE IMG*/

.active-li {
    width: 600px;
    text-align: center;
    margin-left: -250px;
}

.active{
    position: relative;
    transform: perspective(700px)  rotate3d(0, 1, 0, 0deg);
}
.active-anim-forward{
    animation: following-go-active 0.4s linear;
}
.active-anim-back{
    animation: pervius-go-active 0.4s linear;
}
.active img{
    width: 500px;
    -webkit-box-shadow: 0px -7px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 20px 1px rgba(0,0,0,0.75);
}

/*REFLECT ACTIVE READY*/

.active-reflect{
    position: absolute;
    left: -34px;
    bottom: -90px;
    width: 100%;
    opacity: 0.5;
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transform: rotate(-0deg) scale(0.72) skew(-42deg) translate(0px) scaleY(-1) perspective(200px) rotate3d(1, 0, 0, -30deg);
}
.active-reflect-anim-forward{
    animation: following-to-active 0.4s linear;
}
.active-reflect-anim-back{
    animation: pervius-to-active 0.4s linear;
    
}
.active-reflect img{
    height: 100px;
    width: 780px;
    animation: following-to-active-img 0.4s linear;
}

    /*PERVIUS IMG*/

.pervius{
    margin: 0 auto;
    position: relative;
    transition: all 0.4s linear;
    transform: perspective(700px) rotate3d(0, 1, 0, 74deg);
}
.pervius img{
    width: 479px;
    -webkit-box-shadow: -14px 0px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 0px 20px -7px rgba(0,0,0,0.75);
    box-shadow: -14px 0px 20px -7px rgba(0,0,0,0.75);
    transition: all 0.4s linear;
}

/*PERVIUS REFLECT*/

.pervius-reflect{
    position: absolute;
    width: 100%;
    left: 28px;
    bottom: -8px;
    opacity:  0.5;
    -webkit-filter: url(#blur);
    -webkit-filter: blur(3px);
    filter: url(#blur);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    transform: rotate(-37deg) scale(0.79) skew(45deg) translate(-5px) scaleY(-1) perspective(100px) rotate3d(1, 0, 0, -30deg);
    animation: forwarding 0.4s linear;
}
.pervius-reflect img{
    height: 30px;
    width: 135px; 
    animation: reflect-img-size 0.4s linear;
}

/*BUTTON*/

.list-button {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 450px;
    padding-bottom: 15px;
    border: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 33px;
    font-size: 30px;
}

.list-button:hover{
    background: #465961;
    color: white;
    transition: all 0.2s linear;
}
.forward{
    left: 58%;
    padding-right: 0px;
}
.backward{
    left: 40%;
    padding-right: 10px;
}
.counter{
    position: absolute;
    top:457px;
    left: 42.2%;
    width: 15.6%;
    text-align: center;
    background: none;
    border: none;
    font-size: 100%;
}
/* 
    Created on : 26.01.2016, 22:53:35
    Author     : yaroslav
*/
