body {
background-color: #f0d6c8;
}
h1{
	text-align:justify;
	font: bold 30px/36px Courier;
	margin: 0px 15px 0px 15px;
}
.myPhoto{
	margin: 7px;
	text-align:center;
}
img{
	border: #8c8c8c solid 2px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 25px -2px rgba(219,92,24,1);
-moz-box-shadow: 0px 0px 25px -2px rgba(219,92,24,1);
box-shadow: 0px 0px 25px -2px rgba(219,92,24,1);
}
.par1{
	width:500px;
	margin:7px 0px 16px 0px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
.par2{
	font-family: Arial, Helvetica, sans-serif;
}
ul{
	font-family: Arial, Helvetica, sans-serif;
}
li{
	list-style:circle;
}
.par3{
	font-family:Arial, Helvetica, sans-serif;
	text-align: justify;
}
div{
	width: 500px;
	height: 100%;
	background-color: #f7e3bc;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
	border: #8c8c8c solid 2px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
}
