/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@font-face {
    font-family: 'freshsticksregular';
    src: url('../fonts/fresh sticks/freshsticks-webfont.eot');
    src: url('../fonts/fresh sticks/freshsticks-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fresh sticks/freshsticks-webfont.woff2') format('woff2'),
         url('../fonts/fresh sticks/freshsticks-webfont.woff') format('woff'),
         url('../fonts/fresh sticks/freshsticks-webfont.ttf') format('truetype'),
         url('../fonts/fresh sticks/freshsticks-webfont.svg#freshsticksregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #e6e6e6;
    font-family: arial;
    min-width: 1000px;
}
.main-header {
    border: 1px transparent;
    height: 8em;
    width: 80%;
    min-width: 640px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    background: rgba(84,84,84,1);
    background: -moz-linear-gradient(top, rgba(84,84,84,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,84,84,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(84,84,84,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(84,84,84,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(84,84,84,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(84,84,84,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#000000', GradientType=0 );
}
.img-fire{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url(../img/cover/vvv.png);
    background-repeat: no-repeat;
    background-position: 80% 0;
    
}
.company-ico {
    position: relative;
    z-index: 1;
    float: left;
    height: 10em;
    margin-left: 2%;
}
.main-header h1 {
    position: relative;
    font-family: freshsticksregular;
    z-index: 1;
    font-size: 6em;
    float: left;
    margin-left: 2%;
    color: white;
    text-shadow:
        0px 0px 13px rgba(255,105,75,1),
        -1px -1px 13px rgba(255,105,75,1),  
        1px -1px 13px rgba(255,105,75,1),
        -1px 1px 13px rgba(255,105,75,1),
        1px 1px 13px rgba(255,105,75,1);
}
.slogan {
    position: absolute;
    bottom: 5px;
    z-index: 2;
    left: 220px;
    color: white;
    font-size: 0.8em;
    text-shadow:
        1px 1px 0 rgba(0, 0, 0, 1),
        -1px -1px 0 rgba(0, 0, 0, 1),  
        1px -1px 0 rgba(0, 0, 0, 1),
        -1px 1px 0 rgba(0, 0, 0, 1),
        1px 1px 0 rgba(0, 0, 0, 1);
}
.contacts {
    float: right;
    margin-right: 20px;
    color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    font-size: 0.9em;
    text-shadow:
        1px 1px 0 rgba(0, 0, 0, 1),
        -1px -1px 0 rgba(0, 0, 0, 1),  
        1px -1px 0 rgba(0, 0, 0, 1),
        -1px 1px 0 rgba(0, 0, 0, 1),
        1px 1px 0 rgba(0, 0, 0, 1);
}
.contacts a {
    color: #e6e6e6;
    text-shadow:
        1px 1px 0 rgba(0, 0, 0, 1),
        -1px -1px 0 rgba(0, 0, 0, 1),  
        1px -1px 0 rgba(0, 0, 0, 1),
        -1px 1px 0 rgba(0, 0, 0, 1),
        1px 1px 0 rgba(0, 0, 0, 1);
    transition: 0.3s all;
}
.contacts a:hover{
    text-shadow:
        3px 3px 3px rgba(255, 0, 0, 1),
        -1px -1px 0 rgba(255, 0, 0, 1),  
        1px -1px 0 rgba(255, 0, 0, 1),
        -1px 1px 0 rgba(255, 0, 0, 1),
        1px 1px 0 rgba(255, 0, 0, 1);
}

/*END HEADER*/
.content {
    min-height: calc(100vh - 240px);
    min-width: 800px;
    clear: both;
    padding: 30px 10% 20px 10%;
    border-bottom: 10px solid transparent;
}
.main-menu {
    background: rgba(0, 0, 0, 0.8);
    width: 20%;
    min-width: 140px;
    font-size: 1.5em;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
}
.main-menu ul li {
    min-height: 40px;
    padding-left: 5px;
    position: relative;
}
.main-menu a{
    display: block;
    color: white;
    position: relative;
    z-index: 1;
    text-decoration: none;
    line-height: 39px;
    padding-left: 20px;
    transition: all 0.3s;
    text-shadow: 0px 0px 21px rgba(255, 106, 0, 1);
}
.main-menu a:hover{
    text-shadow:
        3px 3px 13px rgba(255, 106, 0, 1),
        -1px -1px 13px rgba(255, 106, 0, 1),  
        1px -1px 13px rgba(255, 106, 0, 1),
        -1px 1px 13px rgba(255, 106, 0, 1),
        1px 1px 13px rgba(255, 106, 0, 1);
}
.main-menu li:hover:before {
    width: 100%;
    background: rgba(255,38,0,1);
    background: -moz-linear-gradient(left, rgba(255,38,0,1) 0%, rgba(252,40,4,0.54) 11%, rgba(243,47,20,0.36) 50%, rgba(232,55,37,0) 96%, rgba(231,56,39,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,38,0,1)), color-stop(11%, rgba(252,40,4,0.54)), color-stop(50%, rgba(243,47,20,0.36)), color-stop(96%, rgba(232,55,37,0)), color-stop(100%, rgba(231,56,39,0)));
    background: -webkit-linear-gradient(left, rgba(255,38,0,1) 0%, rgba(252,40,4,0.54) 11%, rgba(243,47,20,0.36) 50%, rgba(232,55,37,0) 96%, rgba(231,56,39,0) 100%);
    background: -o-linear-gradient(left, rgba(255,38,0,1) 0%, rgba(252,40,4,0.54) 11%, rgba(243,47,20,0.36) 50%, rgba(232,55,37,0) 96%, rgba(231,56,39,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,38,0,1) 0%, rgba(252,40,4,0.54) 11%, rgba(243,47,20,0.36) 50%, rgba(232,55,37,0) 96%, rgba(231,56,39,0) 100%);
    background: linear-gradient(to right, rgba(255,38,0,1) 0%, rgba(252,40,4,0.54) 11%, rgba(243,47,20,0.36) 50%, rgba(232,55,37,0) 96%, rgba(231,56,39,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#e73827', GradientType=1 );
}
.main-menu li:before{
    content: '';
    height: 39px;
    width: 5px;
    left: 0;
    top: 0;
    z-index: 0;
    background: red;
    transition: 0.3s all linear;
    position: absolute;
}
    
.main-submenu {
    display: none;
    overflow: hidden;
}
/*.main-menu ul li:hover .main-submenu {
    height: fit-content;
}*/

.main-content {
    background: rgba(0, 0, 0, 0.8);
    min-height: 600px;
    min-width: 610px;
    width: 77%;
    margin-left: 3%;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
}

.inline {
    float: left;
    
}

footer {
    clear: both;
    color: white;
    bottom: 0;
    padding: 10px;
    width: 80%;
    margin: 0 10%;
    height: 80px;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

/* 
    Created on : 18.03.2016, 23:31:35
    Author     : yaroslav
*/

